@import "_variables";
@import "_mixins";

* {
  margin: 0;
}

header {
  height: 300px;
  width: 100vw;
  background: url("https://picsum.photos/id/649/1600/2400") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
}

.m-10 {
  margin: 1rem;
}

.headerTitle {
  font-size: 45px;
  font-weight: 700;
  color: $color1;
  @include headerAlignment;
}

.seoText {
  color: $color1;
  @include headerAlignment;
  top: 45%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchContainer {
  min-width: 350px;
}

.offer {
  background-color: $color1;
  height: 95%;
  transition: 0.3s;
}

.offer:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: -1px 1px 10px 5px rgba(112,105,105,0.62);
}

.icons, .priceTag {
  color: $color2;
}


